if(displayName)
  if(photoURL)
    .auth__photo-wrapper
      img(src=photoURL).auth__photo-url
  .auth__display-name= displayName
  input(type='button', value='Sign out').auth__sign-out
else
  input(type='button', value='LogIn via FB').auth__sign-in

